interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lab.flashalpha.com/v1/exposure/gex/SPY
  response:
    body:
      string: '{"symbol":"SPY","underlying_price":749.8,"as_of":"2026-05-27T17:58:14.9303577Z","gamma_flip":749.304001148812834,"net_gex":5080761699.612014,"net_gex_label":"positive","strikes":[{"strike":50,"call_gex":751.3865976581868,"put_gex":-20253.29936342228,"net_gex":-19501.912765764093,"call_oi":91,"put_oi":53468,"call_volume":0,"put_volume":44,"call_oi_change":null,"put_oi_change":null},{"strike":55,"call_gex":27.63001546145133,"put_gex":-2041.5066301535314,"net_gex":-2013.87661469208,"call_oi":3,"put_oi":5895,"call_volume":0,"put_volume":33,"call_oi_change":null,"put_oi_change":null},{"strike":60,"call_gex":91.97896978822571,"put_gex":-21246.33673414836,"net_gex":-21154.357764360135,"call_oi":9,"put_oi":40337,"call_volume":0,"put_volume":0,"call_oi_change":null,"put_oi_change":null},{"strike":65,"call_gex":0,"put_gex":-7491.947970455153,"net_gex":-7491.947970455153,"call[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://lab.flashalpha.com/v1/exposure/levels/SPY
  response:
    body:
      string: '{"symbol":"SPY","underlying_price":749.87,"as_of":"2026-05-27T17:58:15.4135509Z","levels":{"gamma_flip":749.304001148812834,"max_positive_gamma":750,"max_negative_gamma":749,"call_wall":751,"put_wall":749,"highest_oi_strike":700,"zero_dte_magnet":749}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - unlimited
      x-ratelimit-remaining:
      - unlimited
      x-ratelimit-reset:
      - '1779926400'
    status:
      code: 200
      message: OK
version: 1
